<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Find Nearest MBTA Stop</title>
</head>
<body>
  <h1>Hello!!!!!!</h1>
  <p>This is an amazing app to help you find the nearest MBTA station!!!!</p>

  <form action="/nearest_mbta" method="post">
    <label for="place">Enter a location:</label>
    <input type="text" name="place" id="place" required />
    <button type="submit">Find Stop</button>
  </form>
</body>
</html>
